body{
    margin: 30px;
}

.btn-margin{
    margin-bottom: 20px;
}

button{
    background-color: #39464e !important;
}

option, span{
    color: #39464e !important;
}

.switch{
    padding-bottom: 20px;
}


div.input-field.col.s12{
    padding: 0px !important;
}